* { 
    box-sizing: border-box; 
}
body {
   background-color:#FFFFFF;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    background: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    margin: 0;

}
header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;
}
header a {
    color: #ffffff;
    text-decoration: none;
}
h1 {
    background-image: url(utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-left: 1rem;
    margin:0;
}
nav {
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
    font-weight: bold;
    background-color: #424242;
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    list-style-type: none;
}
nav ul li {
    width: 100%;
}
    
}
h2  {
    font: Georgia, serif;
    color: #424242;
}
dt {
    color: #003058;
    font-weight: bold;
}
.ut {
    color: #BA1C21;
    font-weight: bold;
}
footer {
    padding: 1rem;
}
#wrapper {
display: grid;
grid-auto-rows: minmax(0,auto);
grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);

}
h3 {
    color: #003058;
}
main {
    padding-left: 2rem;
    padding-right: 2rem;
}
#homehero {
  height: 300px;
  background-image: url(homehero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#studenthero {
  height: 300px;
  background-image: url(studenthero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#facultyhero {
  height: 300px;
  background-image: url(facultyhero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
nav a {
    color: #ffffff;
    padding:1rem 0rem;
    display: block;
    text-align: center;
    text-decoration: none;

}
nav a:hover {
    background-color: #BA1C21;
}
header {
    grid-row: 1 / 2;
    grid-column: 2 / -2;

}
nav {
    grid-row: 2 / 3;
    grid-column: 2 / -2;
}
#homehero, #studenthero, #facultyhero {
    grid-row: 3 / 4;
    grid-column: 2 / -2;
}
main {
    grid-row: 4 / 5;
    grid-column: 2 / -2;
}
footer {
    grid-row: 5 / 6;
    grid-column: 2 / -2;

}
main img {
    float: right;
    padding-left: 2rem;
}
