#wrapper {
display: grid;
grid-auto-rows: minmax(0,auto);
grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}
header {
    height: 150px;
    background-color:red;
    grid-row:1 / 2;
    grid-column:2 / -2;
}
nav {
    height:30px;
    background-color: #003058;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}
#hero {
    height:400px;  
    background-color:aqua;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}
main {
    height:500px;
    background-color:blueviolet;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
}
footer {
    height:50px;
    background-color:pink;
    grid-row: 5 / 6;
    grid-column: 1 / -1;
}
