body {
    background-color:#FFFFFF;
    color: #666666;
    font-family: Arial, sans-serif;

}
header {
    background-color: #003058;
    color: #FFFFFF; ;
}
h1 {
    line-height: 1.4;
    padding: .5rem;
}
nav {
    background-color: #F3F3F3;
    font-weight:bold;
}
h2  {
    font: Georgia, serif;
    color: #424242;
}
dt {
    color: #003058;
    font-weight: bold;
}
.ut {
    color: #BA1C21;
    font-weight: bold;
}
footer {
    font-size: .7rem;
    text-align: center;
    font-style: italic;
}
#wrapper {
    width: 80%;
    margin-right: 0 auto;
    margin-left: 0 auto;
}