body {
    background: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;

}
header {
    background-color: #003058;
    color: #FFFFFF; ;
}
h1 {
    background-image: url(utahtechlogo.png);
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-left: 1em;
    margin-bottom: 0;
}
nav {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    
}
h2  {
    font: Georgia, serif;
    color: #424242;
}
dt {
    color: #003058;
    font-weight: bold;
}
.ut {
    color: #BA1C21;
    font-weight: bold;
}
footer {
    padding: 1rem;
}
#wrapper {
    width: 80%;
    background-color: #ffffff;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 0px 3px 3px rgba(66,66,66,0.3);
}
h3 {
    color: #003058;
}
main {
    padding-left: 2rem;
    padding-left: 2rem;
}
#homehero {
  height: 300px;
  background-image: url(homehero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#studenthero {
  height: 300px;
  background-image: url(studenthero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#facultyhero {
  height: 300px;
  background-image: url(facultyhero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
nav a {
    text-decoration: none;
}